<h1>Register</h1>
<form [formGroup]="form">
    <div>
        <div>
            <p>Name</p>
            <input type="text" formControlName="name">
        </div>
        <div>
            <p>Email</p>
            <input type="text" formControlName="email">
        </div>
        <div>
            <p>Birthday</p>
            <input type="text" formControlName="birthday">
        </div>
        <div>
            <p>Phone</p>
            <input type="text" formControlName="phone">
        </div>
    </div>
</form>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="saveCustomer()">Save</button>
</div>